body {
    color: #333;
    background-color: #000;
    font-family: Webfonts Regular, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

h1 {
    color: var(--light-grey);
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Webfonts Regular, sans-serif;
    font-size: 30px;
    line-height: 44px;
}

.nav-link-menu {
    color: var(--light-grey);
    text-transform: uppercase;
    padding: 0 8px;
    font-family: Webfonts Regular, sans-serif;
    font-size: 16px;
    text-decoration: none;
}

.nav-link-menu:hover {
    color: #fff;
}

.image {
    max-width: 770px;
}

.image-2 {
    width: 100%;
}